<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>
                  <p class="py-6">" WELCOME TO MY WEBSITE. YOU CAN FIND ALL THE LEGOS MODELS AND PARTS FOR YOUR OWN CUSTOMIZATION   "</p>
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="../public/01 (2).jpg" alt="Your Image" class="w-full rounded-lg shadow-md">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">About Me</h2>
              <p class="text-gray-400">" My name is Ashraf Bharot and I'm currently studying at Seneca Polytechnic. I am enrolled in 3rd semester of Computer Programming. My journey in programming began with a fascination for technology and a desire to understand how things work behind the scenes. From there, I embarked on a continuous learning journey, honing my skills in various programming languages and technologies. Whether it's C, C++, Java Script or any other language, I approach each with the same enthusiasm and dedication to mastery."</p>
              <br>
              
          </div>
      </div>
  </div>
</body>

</html>